# -----------------------------
# PYTHON
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
*.log

# -----------------------------
# LAMBDA BUILD FILES
# -----------------------------
lambda.zip
build-lambda/
package/
dist/
venv/
.venv/
env/
ENV/

# -----------------------------
# TERRAFORM
# -----------------------------
# Local state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup

# Crash log
crash.log

# Terraform working directory
.terraform/
.terraform.lock.hcl

# Terraform plan files
tfplan
*.tfplan

# Variables (never commit keys)
*.tfvars
*.tfvars.json

# -----------------------------
# IDE / EDITOR
# -----------------------------
.vscode/
.idea/
*.swp

# -----------------------------
# OS FILES
# -----------------------------
.DS_Store
Thumbs.db
